<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>任务管理系统</title>
</head>

<body>
<div class="topwrap">
<ul id="mainnav" class="mainnav">
    <li id=836 class='cur'><a href='http://127.0.0.1:8888/periodtask/' onclick="CMP.Index.getTreeByBusID(836,'79f260c01ebd8dadde35864efea0ed94|4655|836','')" class='A14'><i></i>定时任务部署</a></li>
    <li id=3028><a href='http://127.0.0.1:8888/task/' onclick="CMP.Index.getTreeByBusID(3028,'79f260c01ebd8dadde35864efea0ed94|4655|3028','')" class='A17'><i></i>执行远程命令</a></li>
    <li id=3028><a href='http://127.0.0.1:8888/periodtask_delete/' onclick="CMP.Index.getTreeByBusID(3028,'79f260c01ebd8dadde35864efea0ed94|4655|3028','')" class='A17'><i></i>删除定时任务</a></li>
    <li id=3028><a href='http://127.0.0.1:8888/periodtask_list/' onclick="CMP.Index.getTreeByBusID(3028,'79f260c01ebd8dadde35864efea0ed94|4655|3028','')" class='A17'><i></i>查看定时任务</a></li>
</ul>
</div>
</body>

</html>
